@font-face {
    font-family: font_R;
    src: url(red-hat-display.ttf);
}
@font-face {
    font-family: font_M;
    src: url(red-hat-display-medium.ttf);
}
@font-face {
    font-family: font_B;
    src: url(red-hat-display-bold.ttf);
}
@font-face {
    font-family: font_BL;
    src: url(red-hat-display-black.ttf);
}

$BFI1: #00a651;
$BFI2: #a6ce39;
$BG: #eff8f4;

$mainT: #193C2A;
$subT: #6d7571;
$subT_F: #6d757123;
$faded: #e9ffe4;

$colPos1: #5ABC44;
$colPos1_F: #5abc442a;
$colPos1_H: #3c882b;

$colPos2:#00A651;
$colPos2_F:#00a6501f;
$colPos2_H:#007a3b;

$colEdit: #EE8400;
$colEdit_F: #ee830031;
$colEdit_H: #c96e00;

$colView:#2F6C82;
$colView_F:#2f6c8223;
$colView_H:#1e4e5f;

$colReject: #E84D2E;
$colReject_F: #e84d2e27;
$colReject_H: #c4462c;

$colBlacklist: #262C2C;
$colBlacklist_F: #262c2c25;
$colBlacklist_H: #161d1d;

$colKeep: #5c7b7b;
$colKeep_F: #5c7b7b23;
$colKeep_H: #405353;


.sideBar {
    height: 100%;
    width: 60px;
    background-image: linear-gradient(180deg, $BFI2, $BFI1);
    transition: 0.4s;
    text-align: left;
}
.sidebarExpand {
    text-align: left;
    transition: 0.4s;
    background: $colKeep;
    height: 100%;
    width: 250px;
}
.navCon {
    text-align: left;
}
.navClose {
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        transition: 0.4s;
        background: #00000036;
    }
}
.navOpen {
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 240px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        transition: 0.4s;
        background: #00000036;
    }
}
.menu {
    height: 75px;
    border-bottom: 1px solid #ffffff50;
}
.menuLabel {
    font-size: 19px;
    font-family: font_R;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
}
.activeNav {
    background: #00000036;
    color: white;
    transition: 0.4s;
}
.navCloseCollapse {
    height: fit-content;
    width: 60px;
    background: #00000036;
    transition: 0.4s;
}
.navOpenCollapse {
    transition: 0.4s;
    height: fit-content;
    width: 240px;
    background: #00000036;
}
.navLabel {
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
}
.navLabelX {
    width: 130px;
    max-width: 130px;
    min-width: 130px;
}
.iconH {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    // border: 1px solid red;
}
// .caretUp{
//     animation: upDown;
// }
// .caretDown {
//     animation: downUP;
// }
.carretcarID {
    // transition: ease-in-out;
    transition: 0.3s ease-in-out;
}
// @keyframes upDown {
//     0% { transform: rotate(0deg); }
//     100% { transform: rotate(180deg); }
// }
// @keyframes downUP {
//     0% { transform: rotate(1800deg); }
//     100% { transform: rotate(0deg); }
// }

// LOGIN ONLY ONCE
.freeze {
    position: fixed;
    z-index: 1000;
    background: #00000079;
    width: 100%;
    height: 100%;
}
.freezeHold {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.freezeContent {
    background: white;
    border-radius: 4px;
    width: 500px;
    height: fit-content;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    // position: absolute;
    // top: 100px;
    // left: 35%;
    animation: jelly 0.5s;
}
.freezeHeader {
    font-size: 20px;
    font-weight: bold;
    font-family: font_M;
    color: $colReject;
}
.freezeBody {
    color: $subT;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.freezeFooter {
    text-align: right;
}
.freezeFooter button {
    background: $colReject;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    &:hover {
        background: $colReject_H;
    }
}
@keyframes jelly {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }
      40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }
      50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
      }
      65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }
      75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
}
.statHead {
    font-family: font_B;
}
.statInst {
    color: $subT;
}