

$theme-colors:(
  "bfi-success":#00A651,
  "bfi-success-light":#3E9F85,
  "bfi-apple-green":#A6CE39,
  "bfi-danger":#E84D2E,
  "bfi-warning":#FEC006,
  "bfi-edit":#EE8400,
  "bfi-main-text":#363636,
  "bfi-sub-text":#193C2A,
  "bfi-light":#5C7B7B,
  "bfi-dark":#1e4d40,
  "bfi-faded":#e9ffe4,
  "bfi-blue-light":#1fbbeb,
  "bfi-blue":#2854a5,
  "bfi-black":#161d1d 
  );


@font-face {
  font-family: font_R;
  src: url(red-hat-display.ttf);
}

@font-face {
  font-family: font_M;
  src: url(red-hat-display-medium.ttf);
}

@font-face {
  font-family: font_B;
  src: url(red-hat-display-bold.ttf);
}

@font-face {
  font-family: font_BL;
  src: url(red-hat-display-black.ttf);
}

